@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.border-custom {
  border-color: #6f4568;
  border-bottom-width: 12px;
}

.main-font {
  font-family: interstate, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.body-font {
  font-family: nimbus-roman, serif;
  font-style: normal;
  font-weight: 400;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 100px;
}

.book-cover-container {
  display: inline-block; /* Adjust display as necessary */
  padding: 20px; /* Adjust padding to match transparent border */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px; /* Optional: to match rounded corners */
}

.book-cover {
  display: block; /* Ensure block display for images */
  max-width: 100%; /* Adjust width */
  height: auto; /* Maintain aspect ratio */
}
